# GRUB configuration file

set default=0
set timeout=5

serial --speed=115200 --unit=0 --word=8 --parity=no --stop=1
terminal_input console serial
terminal_output console serial

menuentry "Rescue" {
	linux /live/vmlinuz boot=live components autologin username=root noeject
	initrd /live/initrd.img
}

if [ "$grub_platform" = "efi" ]; then
  insmod bli

	fwsetup --is-supported
	if [ "$?" = 0 ]; then
		menuentry 'UEFI Firmware Settings' $menuentry_id_option 'uefi-firmware' {
			fwsetup
		}
	fi
fi
